.card {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3px 12px;
    gap: 20px;

    position: static;
    width: 195px;
    height: 140px;

    /* Background */
    background: #FAFCFF;

    border: 1px solid;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}